body{
    background-color: #FFC107;
    margin: 0;
}

#wrapper{
    display: grid;
    width: 100%;
    height: 150vh;
    grid-template-columns: 50% 50%;
    grid-template-rows: 10% 40% 40% 10%;
    grid-template-areas: 
    "hd1 hd2"
    "n  n"
    "s1 s2"
    "ft ft";
}

h1{
    font-size: 50px;
}

h2{
    font-size: 35px;
}

h3{
    font-size: 25px;
    font-weight: lighter;
}

header{
    grid-area: hd1;
    text-align: left;
    font-family: 'Times New Roman', Times, serif;
    display: flex;
    background-color: #c49d02;
    padding-left: 5px;
}

header.hd1 a{
    border: 2px solid black;
    padding: 10px;
    background-color: green;
    text-decoration: none;
    border-radius: 5px;
    color: black;
}

header.hd2{ 
    grid-area: hd2;
    font-family: 'Times New Roman', Times, serif;
    display: flex;
    justify-content: space-between;
    padding-top: 30px;
    padding-right: 20px;
    
}

header.hd2 a {
    border: 2px solid black;
    padding: 10px;
    background-color: green;
    text-decoration: none;
    border-radius: 5px;
    color: black;
}

main{
    grid-area: n;
    border-radius: 10px;
    margin: 10px;
    font-family: 'Playfair Display', serif;
}

section.s1{
    grid-area: s1;
    background-image: url(../img/cat.jpg);
    background-size: cover;
}

section.s2 {
    grid-area: s2;
    text-align: stretch;
    background-color: #c49d02;
    font-family: 'Playfair Display', serif;
    padding: 15px;
}
footer{
    grid-area: ft;
    text-align: center;
    background-color: black;
    color: white;
}