body{
    background-color: #FFC107;
}


#wrapper{
    display: grid;
    width: 100%;
    height: 150vh;
    grid-template-columns: 50% 50%;
    grid-template-rows: 10% 40% 40% 10%;
    grid-template-areas: 
    "hd hd"
    "n  n"
    "s1 s2"
    "ft ft";
}

h1{
    font-size: 50px;
}

h2{
    font-size: 35px;
}

a{
    font-size: 30px;
}

header{
    grid-area: hd;
    background-color: #FFC107;
    text-align: left;
    font-family: 'Times New Roman', Times, serif;
    display: flex;
    justify-content: space-between;
}
main{
    grid-area: n;
    font-family:'Times New Roman', Times, serif;
    border-radius: 10px;
    background-image:url(../img/valkommen.jpg);
    background-size: auto;
}

section.s1 {
    grid-area: s1;
    font-family:'Times New Roman', Times, serif;
    text-align: stretch;
    background-color: white;
}

section.s2{
    grid-area: s2;
    background-image: url(../img/dog1.jpg);
    background-size: cover;
}

footer{
    grid-area: ft;
    text-align: center;
    background-color: black;
    color: white;
}